.home-section {
  margin-top: 20px;
}

.btn-text {
  &:link,
  &:visited {
    color: var(--color-blue);
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px solid var(--color-blue);
    transition: all 0.2s ease;
    padding: 3px 5px;
    line-height: 16px;
  }

  &:hover {
    background: var(--color-blue);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba(#000000, 0.15);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 2rem rgba(#000000, 0.15);
  }
}