.colors-placeholder__item {
  &:not(:last-child) {
    margin-right: 10px;
  }

  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: transparent;
  }
  
  &.active::after, &:hover::after {
    border: 1px solid var(--color-dark-tertiary);
    transition: transform .3s ease;
    transform: scale(1.4);
  }
}