@import '~antd/dist/antd.css';

:root {
  --color-aqua: #f1f9ff;
  --color-blue: #6EB2FB;
  --color-green: #58D68D;
  --color-red: #D92434;
}

.table {

  &__action {
    display: flex;
    
    i {
      margin-right: 10px;
    }
  }

  &__image {
    width: 50px;
  }
}